@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

.profile-show-main {
  width: 70%;
  min-width: 60%;
  max-width: 920px;
  background-color: white;
  margin: 40px auto;
  border-radius: 10px;
  /* border: 1px solid rgb(169, 169, 169); */
  border: 1px solid rgb(233, 111, 132);
  min-width: 700px;
  overflow: hidden;
}

.profile-show-photos-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px auto;
}

.profile-show-photos-item.hidden {
  display: none;
}

.profile-show-arrow {
  font-size: 50px;
  margin: auto;
  cursor: pointer;
  color: rgb(222, 127, 143);
}



.profile-show-photos-item {
  width: 70%;
  min-width: 550px;
  display: block;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 15px;
  overflow: hidden;
  height: 500px;
  object-fit: cover;
  text-align: center;
}



.profile-show-photo {
  display: inline-block;
  min-width: 100%;
  height: 500px;
  object-fit: cover;
}

.profile-show-info-list {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 35px;
  align-items: center;
}

.profile-show-info-item {
  display: flex;
  width: 92%;
  margin: 10px 5px;
}

.profile-show-info-response.bio {
  max-width: 275px;
}

.profile-show-info-description {
  font-size: 16px;
  width: 40%;
  color: rgb(218, 151, 162);
  font-weight: bold;
}

.profile-show-info-response {
  font-size: 16px;
  line-height: 22px;
  margin-left: 15px;
}

#profile-show-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.profile-show-info-divider {
  border-bottom: 1px solid pink;
  width: 95%;
  margin-bottom: 5px;
}

.own-profile-link {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  bottom: 1px;
  left: 1px;
}

.own-profile-link > a {
  padding: 14px 20px;
  background-color: rgb(237, 144, 160);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.own-profile-link > a:hover {
  background-color: rgb(230, 115, 134);
}



.profile-show-info-compatibility-list {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 120px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.profile-show-info-compatibility-tag {
  width: 100px;
  height: fit-content;
  background-color: rgb(240, 168, 179);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 15px;
  margin-right: 0px;
  text-align: center;
  font-size: 14px;
  cursor: default;
  letter-spacing: 0.3mm;
}




/* MATCHING */

.profile-show-request-match-button {
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(233, 111, 132);
  color: white;
  cursor: pointer;
  /* height: 33px; */
  letter-spacing: 0.2mm;
  /* font-family: 'Fredoka One'; */
  padding: 6px 10px;
  padding-top: 7px;
  width: max-content;
  font-weight: 600;
  margin-left: 10px;
}

.profile-show-request-match-button:hover {
  background-color: rgb(210, 102, 120);
}

.profile-show-match-status {
  display: flex;
  justify-content: flex-end;
  height: 30px;

  /* width:  */
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.profile-show-match-status > p {
  color: rgb(210, 102, 120);
  margin-right: 15px;
}

.profile-show-top {
  overflow: hidden;
  border-radius: 5px;
}