*{font-family: 'Roboto', sans-serif;}
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


.profile-form-main {
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: black;
  font-family: sans-serif;
}

.profile-form-link-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.profile-form-back-link {
  width: 20px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.profile-form-back-link:hover {
  color: rgb(230, 101, 123);
}
 
.profile-form-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Bebas Neue";
  font-weight: bold;


  color: white;
  -webkit-text-stroke: 0.2px rgb(235, 129, 147);
  text-shadow:
    3px 3px 0 rgb(235, 129, 147),
    -1px -1px 0 rgb(235, 129, 147),  
    1px -1px 0 rgb(235, 129, 147),
    -1px 1px 0 rgb(235, 129, 147),
    1px 1px 0 rgb(235, 129, 147);
}

.profile-form-content {
  background-color: #fefefe;
  position: relative;
  margin: 10% auto;
  padding: 25px;
  border: 1px solid rgb(252, 127, 167);
  width: 80%;
  min-height: 500px;
  border-radius: 20px;
  min-width: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 236, 239);
  min-width: 500px;
}

.profile-info-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profile-photo-form {
  border: 1px solid rgb(218, 169, 177);
  border-radius: 15px;
  margin: 20px auto;
  max-width: 90%;
  max-height: 500px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.profile-photo-preview-container {
  border-radius: 20px;
  max-width: 480px;
  max-height: 370px;
  overflow: hidden;
  background-color: white;
  margin: 15px auto;
}

.profile-form-photo-preview {
  max-width: 500px;
  max-height: 400px;
  position: relative;
  display: block; 
}

.profile-photo-input-title {
  margin-bottom: 20px;
}

.profile-form-info-section {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 169, 177);
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  width: 90%;
  /* min-width: 500px; */
  margin: 20px auto;
}

.profile-form-info-section > div {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  align-items: center;
}

.profile-form-info-section > div > label {
  margin-right: 30px; 
  margin: 20px 20px;
} 

.profile-form-gender-inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-form-gender-inputs > div {
  margin: 10px;
  display: flex;
  align-items: center;
}

/* .profile-form-gender-inputs >  */

.profile-form-info-section > div > input {
  width: 150px;
  height: 28px;
  font-size: 14px;
  margin: 10px;
  text-align: center;
  padding: 2px 10px;

}

.profile-form-info-section > div > textarea {
  width: 300px;
  height: 100px;
  font-size: 16px;
  margin: 10px;
  margin-right: 20px;
  padding: 10px;
}







/* PREVIEWING DELETABLE PHOTOS LIST: */

.profile-form-preview-photos-list {
  max-width: 100%;
  min-width: 300px;
  min-height: 200px;
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid rgb(228, 165, 176);
  border-radius: 10px;
  background-color: white;
}

.profile-form-preview-photos-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  
}

.edit-profile-delete-photo-link {
  background-color: rgb(230, 143, 158);
  color: white;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

.edit-profile-delete-photo-link:hover {
  background-color: rgb(216, 126, 141);
}

.edit-profile-existing-photo-container {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgb(230, 143, 158);
  margin: 10px;
}

.edit-profile-existing-photo {
  min-width: 130px;
  height: 100%;
}



.profile-form-submit-button {
  margin: 20px auto;
  width: 200px;
  height: 40px;
  border: 1px solid lightgray;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(245, 170, 182);
}

.profile-form-submit-button:hover {
  background-color: rgb(242, 149, 164);
}



.profile-form-delete-button {
  color: rgb(160, 55, 55);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.profile-form-delete-button:hover {
  text-decoration-line: underline;
}


/* COMPATIBILITY SECTION */
.profile-form-compatibility-questions-main {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  /* min-width: 500px; */
  margin: 0 auto;
}

.profile-form-compatibility-question {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(237, 158, 171);
  padding: 5px 10px;
  color: rgb(150, 106, 112);
}

.profile-form-compatibility-question > div {
  display: flex;
  align-items: center;
  width: 130px;
  height: 22px;
} 

input[type=radio] {
  -webkit-appearance: none;
  z-index: 100;
  background-image: url('https://dokicupid-seeds.s3-us-west-1.amazonaws.com/pink_empty.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height:18px;
  width:18px;
  margin: auto 5px;
}

input[type=radio]:focus {
  outline: none;
}

input[type=radio]:checked {
  background-image: url('https://dokicupid-seeds.s3-us-west-1.amazonaws.com/pink_filled.png');
}

select {
  height: 30px;
  text-indent: 10px;
  font-size: 12px;
}


