.profile-show-main {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 30px;
  overflow: hidden;
}

/* .profile-show-photos-list {
  
} */

.profile-show-photos-item {
  position: relative;
  margin: 30px auto;
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
}

.profile-show-photo {
  width: 100%;
}

.profile-show-info-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 35px;
  align-items: center;
}

.profile-show-info-item {
  display: flex;
  width: 92%;
  margin: 10px 5px;
}


.profile-show-info-description {
  font-size: 16px;
  width: 40%;
  color: rgb(218, 151, 162);
}

.profile-show-info-response {
  font-size: 16px;
  line-height: 22px;
  margin-left: 15px;
}

#profile-show-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.profile-show-info-divider {
  border-bottom: 1px solid pink;
  width: 95%;
  margin-bottom: 5px;
}

.own-profile-link {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  bottom: 1px;
  left: 1px;
}

.own-profile-link > a {
  padding: 14px 20px;
  background-color: rgb(237, 144, 160);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  /* bottom: 1px; */
}

.own-profile-link > a:hover {
  background-color: rgb(230, 115, 134);
}