@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.profile-index-main {
  width: 100%;
}

.profile-index-list {
  min-width: 230px;
  width: 96%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1450px;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-index-title {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Bebas Neue";
  font-weight: bold;


  color: white;
  -webkit-text-stroke: 0.2px rgb(235, 129, 147);
  text-shadow:
    3px 3px 0 rgb(235, 129, 147),
    -1px -1px 0 rgb(235, 129, 147),  
    1px -1px 0 rgb(235, 129, 147),
    -1px 1px 0 rgb(235, 129, 147),
    1px 1px 0 rgb(235, 129, 147);
}

.profile-index-item-link {
  margin: 10px 0;
  width: 250px;
  height: 315px;
}

.profile-index-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid #eeeeee;
}

.profile-index-item:hover {
  box-shadow: none;
  border: 1px solid #e8597457;
  background: #FAFAFA;
}

.profile-index-user-photo-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 1.5px solid lightgray;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-index-user-photo {
  object-fit: cover;
  height: 100%;
}

.profile-index-user-fname {
  font-weight: bold;
}

.profile-index-user-compatibility {
  margin-top: 5px;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-index-user-compatibility-missing {
  text-align: center;
  margin-top: 10px;
  color: rgb(169, 73, 91);
  font-size: 14px;
}

.profile-index-item-hidden {
  width: 250px;
  height: 315px;
  opacity: 0;
  height: 0;
  flex-grow: 250px;
}

.profile-index-user-zipcode {
  margin-top: 8px;
  font-size: 15px;
}