.footer {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color: rgb(94, 94, 94);
  background-color: white; 
  border-top: 1px solid rgba(254, 209, 209, 0.968);
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.9rem;  
}

.footer-left {
  margin-left: 10px;
  margin-top: 7px;
}

.footer-right {
  margin-right: 10px;
  margin-top: 7px;
}

.footer > ul {
  display: flex;
}

.footer > ul > li {
  margin-left: 15px;
}

.footer > ul > li:hover {
  color: black;
  font-weight: 500;
}