.footer {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color: rgb(116, 116, 116);
  /* border-top: 1px solid rgba(23, 23, 23, 0.125); */
  border-top: 1px solid rgba(254, 209, 209, 0.968);
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  min-width: 500px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.footer-left {
  margin-left: 10px;
}

.footer-right {
  margin-right: 10px;
}

.footer > ul {
  display: flex;
}

.footer > ul > li {
  margin-left: 15px;
}

.footer > ul > li:hover {
  color: black;
  font-weight: 500;
}