@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

.header-navbar {
  height: 64px;
  width: 100vw;
  display: flex;
  background-color: rgb(250, 101, 129);
  position: fixed;
  justify-content: space-between;
  font-family: "Fredoka One";
  z-index: 4;
  color: white;
  align-items: center;
  position: relative;
}

.header-logo {
  color: rgb(255, 88, 116);
  font-weight: 800;
  font-size: 40px;
  text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  letter-spacing: 2px;
  margin: 0px 15px;
}

.session-link {
  display: none;
}

.header-auth i {
  margin: 15px;
  font-size: 30px;
}

.header-dropdown {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  transition: height 0.5s ease-in-out;
  background-color:  rgb(254, 138, 159);
  font-size: 23px;
  z-index: 15;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
}

.header-dropdown > a {
  padding: 17px 0px;
  margin: 0px 25px;
  text-align: center;
  letter-spacing: 0.15em;
  /* color: rgb(235, 105, 129); */
}

#dropdown-signup {
  border-top: 1px solid pink;
  border-bottom: 1px solid pink;
}



@media only screen and (min-width: 600px) {
  .header-navbar {
    border-bottom: 1px solid white;
  }
}


/* .header-navbar {
  height: 64px;
  width: 100%;
  min-width: 500px;
  background-color: rgb(250, 101, 129);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  font-family: "Fredoka One";
}

.header-navbar-left {
  display: flex;

}

.header-logo {
  font-family: "Fredoka One";
  color: rgb(255, 88, 116);
  font-weight: 800;
  font-size: 40px;
  text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 5px;
  letter-spacing: 2px;
}

.header-logo-inner {
  color: rgb(238, 141, 157)
}

.header-greeting {
  color: white;
  font-family: sans-serif;
}



.navlinks {
  display: flex;
  color: white;
  margin-top: 19px;
  margin-right: 20px;
}

.navlinks > li {
  flex: none;
}

.navlinks > li > a {
  font-size: 22px;
  margin-left: 20px;
}

.navlinks > li > a:hover {
  color:  rgb(255, 185, 197);
}

.navlink-description {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .navlink-description {
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    bottom: 2px;
    margin-left: 8px;
  }

  .navlinks > li > a {
    margin-left: 25px;
  }

  .navlinks > li {
    margin-right: 5px;
  }

}


.navbar-greeting {
  margin-top: 20px;
  display: flex;
  margin-right: 18px;
  color: white;
}

.navbar-greeting-username {
  font-family: sans-serif;
  padding-top: 3px;
  cursor: pointer;
  margin: 0px 10px;
  height: 18px;
  font-size: 16px;
  margin-left: 10px;
}

.navbar-greeting-username:hover {
  color: rgb(245, 157, 172);
}

.navbar-logout-link > i {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-logout-link > i:hover {
  color: rgb(245, 157, 172);
}

.navbar-greeting-photo-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  position: relative;
  border: 1px solid white;
  bottom: 9px;
  left: 2px;
  display: flex;
  align-items: right;
  margin-right: 5px;
}

.navbar-greeting-photo-container:hover {
  opacity: 0.9;
}

.navbar-greeting-photo {
  width: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .navbar-greeting-username {
    display: block;
  }
}


.user-photo-form {
  width: 250px;
  height: 290px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  top: 67px;
  right: 130px;
  display: block;
  border-radius: 15px;
  border: 1px solid rgb(238, 120, 148);
}

@media only screen and (max-width: 630px) {
  .user-photo-form {
    display: none;
  }
}

.user-photo-form-arrow {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: relative; 
  bottom: 28px;
  z-index: 12;
  left: 185px;
  border-bottom: 14px solid rgb(255, 255, 255);
}

.user-icon-preview-container {
  overflow: hidden;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 14px;
  border: 1px solid lightgray;
}

.user-icon-preview-image {
  position: relative;
  max-height: 100%;
  height: 100%;
}

.user-photo-form > form > button {
  margin-left: 20px;
}

.user-photo-form > form > input {
  margin-left: 20px;
  margin-top: 25px;
}


.user-photo-form > form > button {
  margin-top: 15px;
}

.user-photo-form-title {
  color:rgb(238, 120, 148);
  font-family: sans-serif;
  position: relative;
  top: 20px;
  text-align: center;
  font-weight: bold;
} */