@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header-navbar {
  height: 65px;
  width: 100%;
  background-color: rgb(250, 101, 129);
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  font-family: "Fredoka One";
  position: relative;
  /* position: fixed; */
}

.header-navbar-left {
  display: flex;
  margin: 0px 15px;
}

.header-navbar-left > div {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Fredoka One";
  color: rgb(255, 88, 116);
  font-weight: 800;
  font-size: 40px;
  text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  /* margin-top: 8px;
  margin-left: 20px;
  margin-right: 5px; */
  letter-spacing: 2px;
}

.header-logo-inner {
  color: rgb(238, 141, 157)
}

.header-greeting {
  color: white;
  font-family: sans-serif;
}



/* -------------------------------------------------------------------------- */

/* NAVLINKS */


.navlinks {
  display: flex;
  color: white;
  /* margin-top: 19px;
  margin-right: 20px; */
}

.navlinks > li {
  flex: none;
}

.navlinks > li > a {
  font-size: 22px;
  margin-left: 20px;
}

.navlinks > li > a:hover {
  color:  rgb(255, 185, 197);
}

.navlink-description {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .navlink-description {
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    /* position: relative; */
    bottom: 2px;
    margin-left: 8px;
  }

  .navlinks > li > a {
    margin-left: 25px;
  }

  .navlinks > li {
    margin-right: 5px;
  }

}


/* -------------------------------------------------------------------------- */

/* NAVBAR RIGHT */

.navbar-greeting {
  /* margin-top: 20px; */
  display: flex;
  margin-right: 18px;
  color: white;
  align-items: center;
  width: 78px;
  justify-content: space-between;
}

.navbar-greeting-username {
  font-family: sans-serif;
  padding-top: 3px;
  cursor: pointer;
  margin: 0px 10px;
  height: 18px;
  /* display: none; */
  font-size: 16px;
  margin-left: 10px;
}

.navbar-greeting-username:hover {
  color: rgb(245, 157, 172);
}

.navbar-logout-link > i {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-logout-link > i:hover {
  color: rgb(245, 157, 172);
}

.navbar-greeting-photo-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  position: relative;
  border: 1px solid white;
  /* bottom: 9px; */
  left: 2px;
  display: flex;
  align-items: right;
  margin-right: 5px;
}

.navbar-greeting-photo-container:hover {
  opacity: 0.9;
}

.navbar-greeting-photo {
  width: 100%;
  cursor: pointer;
}

.navbar-greeting {
  width: auto;
}

@media only screen and (min-width: 750px) {
  .navbar-greeting-username {
    display: block;
  }

  
}


.user-photo-form {
  width: 250px;
  height: 290px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  top: 67px;
  right: 130px;
  display: block;
  border-radius: 15px;
  border: 1px solid rgb(238, 120, 148);
}

@media only screen and (max-width: 630px) {
  .user-photo-form {
    display: none;
  }
}

.user-photo-form-arrow {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: relative; 
  bottom: 28px;
  z-index: 12;
  left: 185px;
  border-bottom: 14px solid rgb(255, 255, 255);
}

.user-icon-preview-container {
  overflow: hidden;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 14px;
  border: 1px solid lightgray;
}

.user-icon-preview-image {
  position: relative;
  max-height: 100%;
  height: 100%;
}

.user-photo-form > form > button {
  margin-left: 20px;
}

.user-photo-form > form > input {
  margin-left: 20px;
  margin-top: 25px;
}


.user-photo-form > form > button {
  margin-top: 15px;
}

.user-photo-form-title {
  color:rgb(238, 120, 148);
  font-family: sans-serif;
  position: relative;
  top: 20px;
  text-align: center;
  font-weight: bold;
}


.navbar-greeting .fa-bars, .fa-times {
  font-size: 32px;
  display: none;
  cursor: pointer;
  margin-left: 10px;
}


#current-user-photo-mobile {
  display: none;
}



@media only screen and (max-width: 665px) {

  .header-logo {
    font-size: 35px;
  }

  .header-navbar-left > div {
    display: none;
  }

  #nav-user-dropdown li {
    display: flex;
    justify-content: center;
    transition: color 0.2s ease-in-out;
  }

  #nav-user-dropdown li .navlink-description {
    transition: color 0.2s ease-in-out;
  }

  #nav-user-dropdown li:hover .navlink-description {
    color: rgb(252, 114, 137);
  }

  #nav-user-dropdown li i {
    margin-right: 15px;
    width: 28px;
  }

  .navbar-greeting-username {
    display: none;
  }

  .navbar-greeting-photo-container {
    display: none;
  }

  #nav-user-dropdown li:hover .navlink-description {
    /* color: rgb(252, 114, 137); */
  }

  #nav-user-dropdown .navlink-description {
    color: pink;
    display: inline-block;
  }

  .navbar-logout-link > i {
    display: none;
  }

  .navbar-greeting .fa-bars, .fa-times {
    display: block;
    margin-left: 10px;
  }

  #current-user-photo-mobile {
    display: block;
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 666px) {
  .navbar-greeting .fa-times, .fa-bars {
    display: none;
  }

  .nav-session-dropdown {
    display: none;
  }
}