@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header-navbar {
  height: 64px;
  width: 100%;
  min-width: 500px;
  background-color: rgb(250, 101, 129);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  font-family: "Fredoka One";
}

.header-navbar-left {
  display: flex;

}

.header-logo {
  font-family: "Fredoka One";
  color: rgb(255, 88, 116);
  font-weight: 800;
  font-size: 40px;
  text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 5px;
  letter-spacing: 2px;
}

.header-logo-inner {
  color: rgb(238, 141, 157)
}

.header-greeting {
  color: white;
  font-family: sans-serif;
}



/* -------------------------------------------------------------------------- */

/* NAVLINKS */


.navlinks {
  display: flex;
  color: white;
  margin-top: 19px;
  margin-right: 20px;
}

.navlinks > li {
  flex: none;
}

.navlinks > li > a {
  font-size: 22px;
  margin-left: 20px;
}

.navlinks > li > a:hover {
  color: rgb(199, 51, 75);
}

.navlink-description {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .navlink-description {
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    bottom: 2px;
    margin-left: 8px;
  }

  .navlinks > li > a {
    margin-left: 25px;
  }

  .navlinks > li {
    margin-right: 5px;
  }

  .navlinks > li:hover {
    color: rgb(199, 51, 75);
  }
}


/* -------------------------------------------------------------------------- */

/* NAVBAR RIGHT */

.navbar-greeting {
  margin-top: 20px;
  display: flex;
  margin-right: 18px;
  color: white;
}

.navbar-greeting-username {
  font-family: sans-serif;
  padding-top: 3px;
  cursor: pointer;
  margin: 0px 25px;
  height: 18px;
}

.navbar-greeting-username:hover {
  color: rgb(199, 51, 75);
}

.navbar-logout-link > i {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-logout-link > i:hover {
  color: rgb(199, 51, 75);
}

