.session-link {
  font-family: sans-serif;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 20px;
}

.session-link:hover {
  color: rgba(255, 255, 255, 0.845);
  border: 1px solid rgba(255, 255, 255, 0.845);
}

.session-form-main {
  margin: auto;
  width: 450px;
  height: 400px;
  margin-top: 50px;
  border: 1px solid rgba(254, 209, 209, 0.968);
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.session-form-title {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

.session-form {
  margin: 0 auto;
  margin-top: 55px;
  height: 200px;
  width: 272px;
}

.session-form label {
  display: block;
  margin-top: 20px;
  font-size: 15px;
}

.session-form input {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 250px;
  height: 30px;
  font-size: 15px;
  padding: 5px 10px;

  border: 1px solid rgba(250, 200, 200, 0.968);
  background-color: rgb(255, 243, 244);
}

.session-form button {
  margin-top: 20px;
  width: 273px;
  height: 35px;
  background-color: rgb(245, 123, 145);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.session-form button:hover {
  background-color: rgb(244, 108, 133)
}


.session-form button:hover {
  cursor: pointer;
}

.session-errors {
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 230px;
  padding: 10px 10px;
  padding-left: 15px;
  margin-top: 10px;
  background-color: rgba(255, 72, 75, 0.865);
  font-size: 13px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.arrow-up {
  position: absolute;
  top: -5px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid rgb(230, 72, 75);
}


/* DEMO SESSION FORM: */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.235);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-session-form-main {
  width: 450px;
  height: 400px;
  position: absolute;
  top: 22vh;
  left: calc(50vw - 225px);
  border: 1px solid rgba(254, 209, 209, 0.968);
  border-radius: 10px;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo-session-form {
  width: 272px;
}

.demo-session-form > label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}

.demo-session-form > input {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 250px;
  height: 30px;
  border: 1px solid gray;
  font-size: 14px;
  padding-left: 15px;
  background-color: rgb(255, 240, 241);
}

#demo-button {
  border: 1px solid gray;
  /* border-radius: 5px; */
  background-color: rgb(218, 218, 218);
  color: gray;
  width: 271px;
  height: 35px;
  font-size: 14px;
  cursor: default;
  margin-top: 20px;
}

#demo-button.clicked {
  background-color: rgb(196, 196, 196);
}

.demo-login-main .lds-heart {
  top: 16vh;
}

@media only screen and (max-width: 450px) {

  .demo-session-form-main {
    width: 340px;
    left: calc(50% - 175px);
  }

  .session-form-main {
    width: 340px;
  }

  .session-form {
    width: 275px;
  }

  .demo-session-form {
    width: 275px;
  }

  .session-form button {
    width: 275px;
  }

  .demo-session-form button {
    width: 275px;
  }
}