@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap');


.splash-main {
  min-width: 100%;
  height: calc(100vh - 65px);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  background-image: url("../images/hirotwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/* .slide {
  position: absolute;
  left: 0px;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
} */

/* .slideshow-image {
  width: 100%;
  min-height: 100%;
  min-width: 800px;
} */

/* .showing {
  opacity: 1;
  z-index: 2;
  background-color: white;
} */

.splash-description-title {
  font-family: "Titillium Web";
  position: relative;
  color: white;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
  line-height: 53px;
  text-shadow: -7px 6px 1px #781e34;
  -webkit-text-stroke: 4.5px rgb(227, 94, 118);
  font-size: 3.15em;
  letter-spacing: 0.2mm;
  max-width: 330px;
  margin-top: 20px;
  /* height: 150px; */
  /* padding-left: 15px; */
}



/* .splash-description-module {
  background-color: rgba(213, 98, 128, 0.534);
  -webkit-filter: blur(12px);
  filter: blur(15px);
  z-index: 9;
  position: relative;
  border-radius: 8px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 420px;
} */

/* .splash-description-body {
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  font-family: "Open Sans";
  z-index: 10;
  color: rgb(240, 99, 142);
  font-size: 25px;
  padding: 10px;
  max-width: 420px;
  margin: 30px;
  margin-bottom: 70px;
} */

/* .splash-description-body > i {
  position: relative;
  bottom: 2px;
  font-size: 12px;
  height: 22px;
} */



/* .splash-links {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 30%;
  justify-content: center;
  font-family: "Open Sans";
  padding: 50px 0px;
}

.splash-links > a {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.653);
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 20px;
  text-align: center;
  text-shadow: -3px 3px 1px #e95b7e;
  -webkit-text-stroke: 0.5px rgb(255, 203, 212);
} */