@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap');


.splash-main {
  width: 100%;
  min-width: 500px;
  /* height: 89vh; */
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
}


.slide {
  position: absolute;
  left: 0px;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.slideshow-image {
  width: 100%;
  /* height: 85vh; */
  height: 100%;
  /* min-height: 89vh; */
  /* max-height: 90vh; */
  min-width: 800px;
}

.showing {
  opacity: 1;
  z-index: 2;
  background-color: white;
}

.splash-description-title {
  font-family: "Titillium Web";
  position: relative;
  color: white;
  z-index: 10;
  width: 580px;
  left: 80px;
  top: 110px;
  line-height: 85px;
  text-shadow: -7px 6px 1px #781e34;
  -webkit-text-stroke: 4.5px rgb(227, 94, 118);
  font-size: 3.8em;
  letter-spacing: 0.2mm;
}

.splash-description-module {
  width: 470px;
  height: 185px;
  top: 122px;
  left: 60px;
  background-color: rgba(255, 255, 255, 0.413);
  -webkit-filter: blur(12px);
  filter: blur(15px);
  z-index: 9;
  position: relative;
  border-radius: 8px;
}

.splash-description-body {
  position: relative;
  line-height: 26px;
  bottom: 45px;
  left: 80px;
  font-weight: 500;
  z-index: 10;
  color: black;
  font-size: 22px;
  width: 450px;
}
